.user-card {
  width: 100%;
  max-width: $breakpointSmall;

  &__actions {
    display: flex;
    justify-content: space-around;
    margin-top: getSpacing(2);
  }
}

@media screen and (min-width: $breakpointExtraSmall) {
  .user-card {
    &__info {
      grid-template-columns: auto auto;
    }
  }
}