.user-card {
  width: 100%;
  max-width: $breakpoint--medium;

  &__actions {
    display: flex;
    justify-content: space-around;
    margin-top: getSpacingsSSK('x2');
  }
}

@media screen and (min-width: $breakpoint--small) {
  .user-card {
    &__info {
      grid-template-columns: 1fr 1fr;
    }
  }
}