.table {
  display: flex;
  flex-direction: column;

  &__menu {
    @include applyTo('m') {
      display: grid;
      grid-template-columns: 40% 60%;
      justify-items: end;
      align-items: center;
      margin-bottom: getSpacing(2);
    }

    &__input {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      top: 0;

      @include applyTo('m') {
        position: unset;
        justify-self: left;
        display: block;
      }
    }
  }

  @include applyTo('m') {
    min-height: 400px;
  }

  &__scroller {
    @include applyTo('m') {
      max-height: 50vh;
      overflow-y: auto;
    }
  }

  &__wrapper {
    width: 100%;
    border-collapse: collapse;
  }

  &__loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: rgba(157, 158, 171, 0.1);
    margin-top: 10px;
    flex-direction: column;
  }
}