.main-view-provider {
  &--title-moved {
    padding-top: getSpacing(8);
  }

  padding-bottom: getSpacing(10);

  @include applyTo('m') {
    padding: getSpacing(3);
  }

  &__head {
    padding: getSpacing(2);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    @include applyTo('m') {
      flex-direction: row;
      align-items: center;
    }

    h2 {
      flex: 1;
      margin-bottom: getSpacing(2);

      @include applyTo('m') {
        margin-bottom: getSpacing(0);
      }

    }

    &--bottom-line {
      @include applyTo('m') {
        border-bottom: $borderSolid2pxDarkGray;
      }
    }
  }
}