.table-menu {
  @include applyTo('m') {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: end;
    align-items: center;
    margin-bottom: getSpacing(2);
  }

  &__input {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;

    @include applyTo('m') {
      position: unset;
      justify-self: left;
      display: block;
    }
  }
}