.container {
  &-body {
    width: 100%;
    padding: 32px;
    border: solid 1px red;
  }

  /* Simulate other components */
  &-page {
    border: solid 2px red;

    &__element {
      width: 100%;
      height: 60px;
      border: solid 1px blue;
      background-color: gray;
    }
  }
}

/* To simulate the size of a screen and its layout */
@media screen and (min-width: $breakpoint--large) {
  .container {
    &-body {
      /* The father needs to have these values */
      position: relative;
      z-index: 1;
      /* --- */
      height: 768px;
      display: flex;
      justify-content: flex-end;
      padding: 0;
      padding-left: 5em;
    }

    /* Simulate other components */
    &-page {
      width: 100%;
      padding: 1em;
      background-color: white;
      border: none;
      border-radius: getSpacing(2.5);
    }
  }
}