  .navbar-provider {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
    position: relative;

    grid-template-areas: "component"
                          "navbar";
    &__navbar {
      position: relative;
      grid-area: navbar;
    }
    @include applyTo('m'){
      grid-template-rows: 1fr;
      
      grid-template-columns: auto 93%;
      grid-template-areas: "navbar component";
      grid-template-areas: "navbar component";
      
    }
  }

 
 
  


