.checkbox {
	cursor: pointer;
  outline: none;
  display: inline-block;
  padding: getSpacing(0.5);
  border-radius: getSpacing(0.5);
  border: 1px solid $colorPrimaryMain;
  @include colorFontAndBg($colorFontLight, rgba($colorPrimaryMain, 40%));

  & > div {
    display: flex;
    align-content: center;
  }

  &--enable {
    @include colorFontAndBg($colorFontLight, $colorPrimaryMain);
  }

  &--disabled {
    cursor: not-allowed;
    border-color: $colorBgMain;
    @include colorFontAndBg($colorFontDisabled, $colorBgDisabled);
  }
}
