.checkbox {
	cursor: pointer;
  outline: none;
  display: inline-block;
  padding: getSpacingsSSK('x0.5');
  border-radius: getSpacingsSSK('x0.5');
  border: 1px solid $sskColorPrimaryMain;
  @include colorFontAndBg($sskColorFontLight, rgba($sskColorPrimaryMain, 40%));

  & > div {
    display: flex;
    align-content: center;
  }

  &--on {
    @include colorFontAndBg($sskColorFontLight, $sskColorPrimaryMain);
  }

  &--disabled {
    cursor: not-allowed;
    border-color: $sskColorBgMain;
    @include colorFontAndBg($sskColorFontDisabled, $sskColorBgDisabled);
  }
}
