/* Overwrite class of component */
.btn--custom {
	background-color: orange;
	font-size: 28px;
	color: black;
	&:focus {
		box-shadow: none;
	}
}

/* class of stories presentation */
.preview-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}
