.table-pagination {
  position: fixed;
  bottom: $navbarHeight;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;

  @include applyTo('m') {
    flex: 1;
    position: unset;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--text {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
  }
}