body, html, #app, * {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#app {
	height: 100vh;
	position: relative;
}

body {
	font-size: $sskFontSizeBase;
	font-family: $sskFontFamilyBase;
	font-weight: $sskFontWeightRegular;
}

h1 {
	font-size: 50px;
	font-weight: $sskFontWeightRegular;
}

h2 {
	font-size: 25px;
	font-weight: $sskFontWeightRegular;
}

h3 {
	font-size: 20px;
	font-weight: $sskFontWeightRegular;
}

th {
  font-weight: $sskFontWeightRegular;
}

select {
	-webkit-appearance: none;
  appearance: none;
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
}