body {
  background-color: $colorBgMain;
}

body, html, #app, * {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
#app {
	height: 100vh;
	position: relative;
}

.portal {
  position: fixed;
  z-index: $zIndexPortal;
  display: none;

  &--enable {
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: getTransparency(0.9);
    align-items: center;
    justify-content: center;
  }
}

body {
	font-size: $fontSizeBase;
	font-family: $fontFamilyBase;
	font-weight: $fontWeightRegular;
}

h1 {
	font-size: 50px;
	font-weight: $fontWeightRegular;
}

h2 {
	font-size: 25px;
	font-weight: $fontWeightRegular;
}

h3 {
	font-size: 20px;
	font-weight: $fontWeightRegular;
}

th {
  font-weight: $fontWeightRegular;
}

select {
	-webkit-appearance: none;
  appearance: none;
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
}