/* Other general variables */
$borderSolid2pxDarkGray: solid 2px $colorFontDarkGray;

/* General classes */
.--spaced {
  @include addSpaces(1.0);
}

.--shadowed {
  box-shadow: 0px 0px 4px $colorBoxShadowLight;
}

.--hidden {
  visibility: hidden;
}

.--is-for-submit {
  position: absolute;
  bottom: $navbarHeight + getSpacing(1);
  width: calc(100% - getSpacing(4));

  @include applyTo('m') {
    width: auto;
  }
}

.horizontal-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: getSpacing(1);

  &--no-margin {
    margin: 0
  }
}

.central-flex-container {
  min-width: 100vw;
  min-height: 100vh;
  @include flex();
}

.--surface-card {
  display: block;
  margin: getSpacing(2) auto;
  padding: getSpacing(2);
  border-radius: getSpacing(2);
  box-shadow: 0px 0px 4px $colorBoxShadowLight;
}
