/* Breackpoint to media queries */
$breakpoint--small-large: 639px;
$breakpoint--medium: 719px;
$breakpoint--large: 1023px;

/* Other general variables */
$borderSolid2xpDarkGray: solid 2px $sskColorFontDarkGray;

/* General classes */
.ssk--spacing {
  @include sskSpacings(1.0);
}

.ssk--boxShadow {
  box-shadow: 0px 0px 4px $sskColorBoxShadowLight;
}

.hidden {
  visibility: hidden;
}

.surface--card {
  display: inline-block;
  @include sskSpacings(1.0);
  border-radius: getSpacingsSSK('x2');
  box-shadow: 0px 0px 4px $sskColorBoxShadowLight;
}