/* Other general variables */
$borderSolid2pxDarkGray: solid 2px $colorFontDarkGray;

/* General classes */
.--spaced {
  @include addSpaces(1.0);
}

.--shadowed {
  box-shadow: 0px 0px 4px $colorBoxShadowLight;
}

.--hidden {
  visibility: hidden;
}

.horizontal-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: getSpacing(1);

  &--no-margin {
    margin: 0
  }
}

.--surface-card {
  display: block;
  @include addSpaces(2);
  border-radius: getSpacing(2);
  box-shadow: 0px 0px 4px $colorBoxShadowLight;
}
