/* Foundations */
@import './foundations/animations.scss';
@import './foundations/colors.scss';
@import './foundations/spacing.scss';
@import './foundations/typography.scss';
@import './foundations/breakpoints.scss';

/* Base classes are initial specifications */
@import './base.scss';

/* Mixins */
@import './mixins.scss';

/* General classes */
@import './general.scss';
