.text-input {
  &__container {
    display: inline-block;
    position: relative;
    width: 90%;
    margin: getSpacing(0.5) 0;
  }

  &__input {
    font-family: $fontFamilyBase;
    height: 2em;
    border: none;
    border-bottom: $borderSolid2pxDarkGray;
    background: transparent;
    margin: getSpacing(1);
    outline: none;
    color: $colorFontMain;
    padding: 0 getSpacing(0.8);
    font-weight: 400;
    font-size: $fontSizeBase;
    letter-spacing: getSpacing(0.01);
    width: calc(100% - 26px);

    &--icon-right {
      padding-right: getSpacing(5);
    }

    &--icon-left {
      padding-left: 50px;
    }

    &:disabled {
      border-bottom: 2px solid $colorBgDisabled;
      cursor: not-allowed;
    }

    &:focus ~ .text-input__label {
        @include labelCollected(-2px, getSpacing(1));
    }

    &:focus ~ .text-input__label--icon-left {
      @include labelCollected(-2px, getSpacing(5));
    }

    &--primary {
      &:focus {
        border-bottom: 2px solid $colorPrimaryMain;
      }
    }

    &--secondary {
      &:focus {
        border-bottom: 2px solid $colorSecondaryMain;
      }
    }
  }

  &__label {
    position: absolute;
    color: $colorFontMain;
    font-size: $fontSizeBase;
    top: calc(50% - 14px);
    left: getSpacing(1.6);
    cursor: text;
    transition: .3s;
    letter-spacing: getSpacing(0.02);

    &--icon-left {
      left: getSpacing(6);
    }

    &--collected {
      @include labelCollected(-2px, getSpacing(1));
      transition: 0s;

      &--icon-left {
        @include labelCollected(-2px, getSpacing(5));
      }
    }
  }

  &__icon-container {
    position: absolute;
    bottom: 1em;

    &--icon-right {
      right: getSpacing(2.5);
    }

    &--icon-left {
      left: getSpacing(1.5);
    }
  }
}