.text-input__container {
    display: inline-block;
    position: relative;
    width: 90%;
    margin: 5px 0;
}

.text-input__input {
    font-family: $fontFamilyBase;
    height: 2em;
    border: none;
    border-bottom: 2px solid $colorFontDarkGray;
    background: transparent;
    margin: 10px;
    outline: none;
    color: $colorFontMain;
    padding: 0 8px;
    font-weight: 400;
    font-size: $fontSizeBase;
    letter-spacing: .1px;
    width: calc(100% - 26px);

    &--icon-right {
      padding-right: 50px;
    }

    &--icon-left {
      padding-left: 50px;
    }

    &:disabled {
      border-bottom: 2px solid $colorBgDisabled;
      cursor: not-allowed;
  }

    &:focus ~ .text-input__label {
        @include labelCollected(getSpacing(1));
    }

    &:focus ~ .text-input__label--icon-left {
      @include labelCollected(getSpacing(5));
  }
}

.text-input__input--primary {
  &:focus {
    border-bottom: 2px solid $colorPrimaryMain;
  }
}

.text-input__input--secondary {
  &:focus {
    border-bottom: 2px solid $colorSecondaryMain;
  }
}

.text-input__label {
    position: absolute;
    color: $colorFontMain;
    font-size: $fontSizeBase;
    top: calc(50% - 14px);
    left: 16px;
    cursor: text;
    transition: .3s;
    letter-spacing: .2px;
    &--icon-left {
      left: 60px;
    }
}

.text-input__label--collected {
    @include labelCollected(getSpacing(1));
    transition: 0s;
    &--icon-left {
      @include labelCollected(getSpacing(5));
    }
}

.text-input__icon-container {
  position: absolute;
  bottom: 1em;
  &--icon-right {
    right: 25px;
  }
  &--icon-left {
    left: 15px;
  }
}