.user-info-container {
  margin-top: getSpacing(2);
}
.user-form__inputs-container {
  margin-top: getSpacing(2);
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  width: 100%;
}