.surface__container--story {
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: 30%;
    margin: 0 auto;
    color: white;
    padding: 15px;
    border-radius: 8px;
    & label {
        margin: 0;
        padding: 0;
        font-weight: 700;
        text-transform: uppercase;
    }
    & input {
        padding: 10px 0;
        margin: 10px 0;
    }
}