@keyframes resize {
  0% {
    transform:  scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform:  scale(1);
  }
}

@keyframes resize--inverted {
  0% {
    transform:  scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform:  scale(0.8);
  }
}

@keyframes bounce-in-left {
  from,
  60%,
  75%,
  90%,
  to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
  }

  75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
  }

  90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
  }

  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}