.list-readable-fields {
  display: grid;
  row-gap: getSpacing(1.5);
  column-gap: getSpacing(1.5);
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));

  dt {
    font-style: italic;
  }

  dd {
    margin-left: 1em;
  }
}