 .shapes-container {
  display: none;
  position: relative;

  @include applyTo('s') {
    @include flex();
  }

  .login-banner-container {
    z-index: 5;
    @include flex(column);

    .login-doctor-vector {
      width: 300px;
    }

    h1 {
      color: $colorFontLight;
      margin-bottom: getSpacing(2);
    }
  }
}

.login-shape{
  position: absolute;
  width: 1200px;

  &--background {
    right: -19%;
    top: -34%;
  }

  &--vector1 {
    right: 4%;
    top: -19%;
    z-index: 3;
  }

  &--vector2 {
    transform: rotate(7deg);
    right: 25%;
    top: -33%;
    z-index: 2;
  }

  &--vector3 {
    right: 24%;
    transform: rotate(-86deg);
    top: 29%;
  }
}