@mixin btnActive($color: initial, $colorBg: initial) {
	&:active:hover {
		box-shadow: inset 0 0 6px 2px $color;
		@include colorFontAndBg($color, transparent);
	}
}

@mixin btnHover($color: initial, $colorBg: initial) {
	&:hover {
		@include colorFontAndBg($color, $colorBg);
	}
}

.btn {
	border: none;
	display: inline-block;
	width: auto;
	font-weight: $sskFontBold;
	background: transparent;
	outline: none;
	cursor: pointer;
	border-radius: $sskSpacingUnit * 3;
	@include btnActive($sskSuccess, $sskFontDark);

	&--primary {
		@include colorFontAndBg($sskFontGrayLight, $sskPrimaryMain);
		@include btnHover($sskFontDark, $sskSecondaryMain);
	}

	&--secondary {
		@include colorFontAndBg($sskFontDark, $sskSecondaryMain);
		@include btnHover($sskFontGrayLight, $sskPrimaryMain);
	}

	&--warning {
		@include colorFontAndBg($sskFontGrayLight, $sskWarningRed);
		@include btnHover($sskFontDark, $sskWarning);
	}

	&:disabled {
		@include colorFontAndBg($sskDisabledColor, $sskDisabledBackground);
		cursor: not-allowed;
	}
}
