.datepicker-day__container {
    padding: getSpacing(1);
    margin: getSpacing(0.5);
    text-align: center;
    color: $colorBgDark;
    user-select: none;
    border-radius: getSpacing(0.5);
    &:hover {
      background-color: rgba(0,0,0,0.1);
      color: $colorBgDark;
    }
}

.datepicker-day__container--otherMonth {
    color: #a5a5a5;
}

.datepicker-day__container--selected {
    background-color: $colorPrimaryMain;
    color: white;
}