.datepicker-day__container {
    padding: getSpacing(1);
    margin: getSpacing(0.5);
    text-align: center;
    color: $colorFontMain;
    user-select: none;
    border-radius: getSpacing(0.5);

    &:hover {
      @include colorFontAndBg($colorFontDark, getTransparency(0.1))
    }

    &--other-month {
      color: $colorFontDisabled;
    }

    &--selected {
      @include colorFontAndBg(white, $colorPrimaryMain)
    }
}