.template-form {
  padding: 0 getSpacing(2);
  display: flex;
  flex-direction: column;

  &__principals {
    display: flex;
    flex-direction: column;
    margin-top: getSpacing(2);

    @include applyTo('m') {
      flex-direction: row;
    }
  }
}