.user-profile {
  position: relative;
  display: grid;
  grid-template-rows: 20% auto 15%;
  justify-content: center;
  height: 100%;
  padding: getSpacing(2);
  .goback {
    position: absolute;
    @include applyTo('s') {
      opacity: 0;
    }
  }
  &__avatar {
    position: relative;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    background: #747581;
    min-width: getSpacing(10);
    margin: 0 auto getSpacing(2) auto;
    border-radius: 50%;
    transform: scale(.8);
   
  }
  &__info {
    margin-bottom: getSpacing(2);
    @include flex(column, space-around, flex-start);
    justify-content: space-between;
  }
}