.navbar {
  &__logo {
    display: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-top: $borderSolid2pxDarkGray;
    padding-top: getSpacing(1);
    margin-top: getSpacing(2);
  }
}

@media screen and (min-width: $breakpoint--large) {
  .navbar {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
    width: 10em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    color: $colorFontLight;
    background-color: $colorPrimaryMain;
    border-radius: getSpacing(5.5);
    @include padding(3em, 0, 6em, 1em);

    &__logo {
      display: inline-block;
      width: 3em;
      height: 3em;
      border-radius: 100%;
      background-color: white;
    }

    &__buttons {
      width: 3em;;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      border: none;
      & .btn-icon {
        color: $colorFontLight;
      }
      & .btn-icon:hover {
        color: $colorFontMain;
      }
    }
  }
}