.datepicker {
  &__container {
    max-width: getSpacing(30);
    margin: 0 auto;
  }

  &__calendar {
    &__container {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: getSpacing(1);
    }

    &__table {
      &__container {
        border-spacing: 0px;
      }
    }

    &__week-days {
      color: $colorFontMain;
      user-select: none;
    }
  }

  &__input {
    width: calc(100% - 45px);
    @include padding(getSpacing(0.5), getSpacing(4), getSpacing(0), getSpacing(0.5));
    height: 2em;
    margin-bottom: getSpacing(1);
    border: none;
    border-bottom: $borderSolid2pxDarkGray;
    outline: none;

    &:focus ~ .datepicker__input__label {
      @include labelCollected(-5px, getSpacing(0.5));
    }

    &:disabled {
      border-bottom: 2px solid $colorBgDisabled;
      cursor: not-allowed;
    }

    &:disabled ~ .datepicker__input__label {
      color: $colorFontDarkGray;
    }

    &__container {
      position: relative;
    }

    &__button {
      position: absolute;
      right: getSpacing(0.25);
      top: getSpacing(0.5);
      padding: 0 getSpcing(0.5);
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }

    &__label {
      position: absolute;
      color: $colorFontMain;
      font-size: $fontSizeBase;
      top: calc(50% - 14px);
      left: getSpacing(1.6);
      cursor: text;
      transition: .3s;
      letter-spacing: .2px;

      &--collected {
        @include labelCollected(-5px, getSpacing(0.5));
        transition: 0s;
      }
    }
  }
}