.table-cell {
  &__content {
    display: flex;
    justify-content: flex-start;
    @include padding(0, getSpacing(2), 0, getSpacing(2));
    color: $colorFontMain;

    &--head {
      color: $colorFontDarkGray;
    }

    &--collapse {
      padding: 0;
    }
  }

  &--bottom-bordered {
    border-bottom: 3px solid $colorFontDarkGray;
  }
}