.select {
  position: relative;
  font-size: $fontSizeBase;
  color: $colorFontMain;
  border-bottom: $borderSolid2pxDarkGray;
  margin: getSpacing(1);

  &:active {
    .select__label {
      @include labelCollected(-8px, 0);
    }
  }

  &--disabled {
    background-color: $colorBgDisabled;
  }

  &__label {
    position: absolute;
    z-index: 4;
    top: 25%;
    left: getSpacing(1);
    transition: font-size 0.3s, top 0.3s, left 0.3s;
    color: $colorFontMain;

    &--value {
      @include labelCollected(-8px, 0);
    }
  }

  &__select {
    width: 100%;
    position: relative;
    z-index: 8;
    background-color: transparent;
    color: $colorFontDark;
    font-size: $fontSizeBase;
    padding: 5.5px getSpacing(1);

    &:disabled {
      cursor: not-allowed;
    }
  }

  & svg {
    display: inline-block;
    position: absolute;
    z-index: 6;
    right: 5px;
    bottom: 0;
  }
}
