.select {
  @extend .ssk--spacing;
  position: relative;
  font-size: $sskFontSizeBase;
  width: auto;
  color: $sskColorFontDark;
  border-bottom: 2px solid $sskColorFontDarkGray;
  padding-top: $sskFontSizeBase;
  padding-bottom: getSpacingsSSK('x0.5');

  &__label {
    position: absolute;
    z-index: 4;
    height: auto;
    top: 36%;
    left: auto;
    transition: font-size 0.3s ease-in-out, top 0.2s, left 0.4s;
    color: $sskColorFontMain;

    &--value {
      top: 0;
      left: 0;
      font-size: $sskFontSizeBase * 0.86;
    }
  }

  &__select {
    width: 100%;
    position: relative;
    z-index: 8;
  }
}