.datepicker-carousel__container {
  display: flex;
  min-width: 130px;
  justify-content: space-between;
}

.datepicker-carousel__button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.datepicker-carousel__text {
  color: $sskBackgroundDark;
}

.datepiker-carousel__input {
  border: none;
  border-bottom: 1px solid $sskBackgroundDark;
  outline: none;
  width: $sskSpacingUnit * 3;
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.datepiker-carousel__input[type=number] {
  -moz-appearance: textfield;
}